<html>
<head>
    <title>SAIBA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/result.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Nome</a>
          </div>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nova Busca">
              <select class="form-control" name="dataType" id="dataTypeSelect" required>
                <option selected value="" disabled>Selecione</option>
                <option value="campi.cursos">Curso</option>
                <option value="campi.cidade">Cidade</option>
                <option value="estado">Estado</option>
                <option value="regiao">Região</option>
                <option value="instituicao">Instituicao</option>
            </select>
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

    <section class="container">
    <h3>Resultados para</h3>
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover">
        <tr>
          <th>Instituição</th>
          <th>Região</th>
          <th>Estado</th>
          <th>Cidade</th>
          <th>Curso(s)</th>
        </tr>
        <% if (type='campi.cursos'){ %>
          <% for(var i=0; i < data.results.length; i++){ %>
            <tr>
              <td><%= data.results[i].instituicao %></td>
              <td><%= data.results[i].regiao %></td>
              <td><%= data.results[i].estado %></td>
              <td><%= data.results[i].campi[i].cidade %></td>
              <td><%= data.search %></td>
            </tr>
          <% } %>
        <% } %>
      </table>
    </div>
  </section>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>

