<html>
<head>
    <title>SAIBA</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>RESULT PAGE</h1>
    <section class="container">
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover">
        <tr>
          <th>Instituição</th>
          <th>Região</th>
          <th>Estado</th>
          <th>Cidade</th>
          <th>Curso(s)</th>
        </tr>
        <% if (type='campi.cursos'){ %>
          <% for(var i=0; i < data.results.length; i++){ %>
            <tr>
              <td><%= data.results[i].instituicao %></td>
              <td><%= data.results[i].regiao %></td>
              <td><%= data.results[i].estado %></td>
              <td><%= data.results[i].campi[i].cidade %></td>
              <td><%= data.search %></td>
            </tr>
          <% } %>
        <% } %>
      </table>
    </div>
  </section>

</body>
</html>

