<html>
<head>
    <title>SAIBA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/result.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Nome</a>
          </div>
          <form class="navbar-form navbar-right" action="/result">
            <div class="form-group">
              <input type="text" class="form-control" name="search" id="searchBar" placeholder="Nova Busca">
              <select class="form-control" name="dataType" id="dataTypeSelect" required>
                <option selected value="" disabled>Pesquisar por...</option>
                <option value="campi.cursos">Curso</option>
                <option value="campi.cidade">Cidade</option>
                <option value="estado">Estado</option>
                <option value="regiao">Região</option>
                <option value="instituicao">Instituição</option>
            </select>
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

<% if (data.results.length === 0){ %>

  <h4> Nenhum resultado encontrado. Tente novamente! <br></h4>
  <h5>Certifique-se de selecionar a opção correta relacionada à sua busca.</h5>

  <h1> ;( </h1>  

<% } else { %>
  <% if (data.type == 'instituicao') { %>

  <h4>Resultados para <%= data.search %></h4>

  <section class="container">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th>Instituição</th>
          <th>Região</th>
          <th>Estado</th>
          <th>Cidade</th>
          <th>Curso(s)</th>
        </tr>
          <% for(var i=0; i < data.results.length; i++){ %>
            <tr>
              <td><%= data.results[i].instituicao %></td>
              <td><%= data.results[i].regiao %></td>
              <td><%= data.results[i].estado %></td>
              <td><%= data.results[i].campi[i].cidade %></td>
              <td><%= data.search %></td>
            </tr>
          <% } %>

<% } else { %>

<h4>Resultados para <%= data.search %></h4>

    <section class="container">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th>Cidade</th>
          <th>Cursos</th>
        </tr>
        <% for(var i=0; i < data.results.length; i++){ %>
          <% for(var j=0; j < data.results[i].campi.length; j++) { %>
        <tr>
          <td><%= data.results[i].campi[j].cidade %></td>
          <td><%= data.results[i].campi[j].cursos %></td>
        </tr>  
          <% } %>
        <% } %> 
    
      </table>
    </div>
 
  <% } %>
 <% } %> 

  </section>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>

